{% extends 'base.html.twig' %}

{% block title %}
	{% for category in category %}
		Sélection de séries - catégorie :
		{{ category.name }}
	{% endfor %}
{% endblock %}

{% block body %}
	<section class="body">
		{% for program in programs %}

			<div class="card text-bg-light mb-3" style="max-width: 18rem;">
				<div class="card-header"><img class="align-self-start mr-3" src="{{program.poster}}" alt="{{program.title}} poster"></div>
				<div class="card-body">
					<h5 class="card-title, mt-0">{{ program.id }}
						-
						{{ program.title }}</h5>
					<p class="card-text">{{program.synopsis}}</p>
					<p class="card-text">Catégorie :{{program.category.name}}</p>
				</div>

				<a href="{{ path("program_show", {id: program.id}) }}">Voir la fiche</a>
			</div>
		{% endfor %}
		<a href="{{ path('program_index') }}">
			Retour à la liste des séries
		</a>
	</section>
{% endblock %}
