{% extends 'base.html.twig' %}

{% block title %}Episode #
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			<h1 class="mt-0">Episode {{episode.number}} - {{ episode.title }}</h1>
			<p>Synopsis : {{episode.synopsis}}</p>
			<p>Catégorie :{{program.category.name}}</p>
			<a href="{{ path("program_show", {id: program.id}) }}">Back</a>
		</div>
	</div>

	<a href="{{ path('program_index') }}">
		Retour à la liste des séries
	</a>
{% endblock %}
