{% extends 'base.html.twig' %}

{% block title %}Episode #
	{{ season.title }}
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			<h1 class="mt-0">{{ episode.title }}</h1>
			<p>Synopsis : {{episode.synopsis}}</p>
			<p>Catégorie :{{program.category.name}}</p>
			
			{% for season in seasons %}
			<p>{{ season.number }}</p>
			<a href="{{ path("program_season_show", {id: program.id , seasonId: season.id}) }}">Consulter saison</a>

			{% else %}
				Aucune saison trouvée.
			{% endfor %}

			<a href="{{ path("program_show", {id: program.id}) }}">Voir la fiche</a>
		</div>
	</div>

	<a href="{{ path('program_index') }}">
		Retour à la liste des séries
	</a>
{% endblock %}
