{% extends 'base.html.twig' %}

{% block title %}All Programs
{% endblock %}

{% block body %}
	<h1>Toutes les séries</h1>
	{% for program in programs %}
		<div class="card text-bg-light mb-3">
			<div class="card-header"><img class="align-self-start mr-3" src="{{program.poster}}" alt="{{program.title}} poster"></div>
			<div class="card-body">
				<h2 class="card-title, mt-0">{{ loop.index }}
					/
					{{ program.title}}
					- Catégorie :
					{{ program.category.name}}</h2>
				<p class="card-text">Synopsis :
					{{ program.synopsis }}</p>
			</div>
			<a href="{{ path("program_show", {id: program.id}) }}">Voir la fiche</a>
		</div>
	{% else %}
		Aucune série trouvée.
	{% endfor %}
	<div>
		<a href=" {{ path('app_index') }} ">Retour à l'accueil</a>
	</div>
{% endblock %}
