{% extends 'base.html.twig' %}

{% block title %}Série #
	{{ program.id }}
{% endblock %}

{% block body %}
	<div class="card text-bg-light mb-3" style="max-width: 18rem;">
		<div class="card-header"></div>
		<div class="card-body">
			<h2 class="card-title, mt-0">{{ program.title }}</h2>
			<p class="card-text">{{ season.number }}</p>
			{% for episode in episodes %}
				<p class="card-text">
					{{episode.number}}
				</p>
				<p class="card-text">
					{{episode.title}}
				</p>
				<a href="{{ path("program_episode_show", {program: program.id , season: season.id , episode: episode.id}) }}">Consulter l'épisode</a>
			{% endfor %}
			<p class="card-text">Catégorie :{{program.category.name}}</p>
		</div>
		<a href="{{ path("program_show", {id: program.id}) }}">Retour programme</a>
	</div>
	<a href="{{ path('program_index') }}">
		Retour à la liste des séries
	</a>
{% endblock %}
